.d-flex{ display: flex;}
.d-none{ display: none;}


/*Flex settings*/
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-grow{ flex-grow: 1; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-wrap { flex-wrap: wrap;}

/* Settings to align and justify the items/elements on the page */
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.align-items-center { align-items: center; }