.d-flex{ display: flex;}



.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-grow{ flex-grow: 1; }

/* Settings to align and justify the items/elements on the page */
.justify-content-between { justify-content: space-between; }
.align-items-center { align-items: center; }